body{
  margin: 0%;
  padding: 0%;
  background-color: rgb(50,50,50);
}

.cardDiv{
  background-color: rgb(25,25,25);
  max-width: 50vw;
  min-width: 300px;
  
  display: flex;
  flex-direction: column;
  justify-self: center;
  

  border-radius: 15px;
  margin-top: 2vh;
}

.profilePic{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.headInfo{
  color:rgb(245,245,245);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.headInfo>h1{
  font-size: 2.5rem;
}

.jobTitle{
  color: rgb(244, 141, 62);
  font-size: 1.1rem;
  margin-top: -4%;
}

.website{
  font-size: 1rem;
  margin-top: -2%;
}

.emailBtn{
  color: rgb(50,50,50);
  font-size: 2rem;
  width: 100%;
  border-radius: 10px;
  border-style: none;
}

.emailBtn:hover{
  cursor: pointer;
}

section{
  width: 80%;
  color:rgb(245,245,245);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

section>h1{
  align-self: flex-start;
}

section>p{
  margin-top: -2%;
}

footer{
    color:rgb(245,245,245);
    text-align: center;
    background-color: rgb(5,5,5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
